.header-container {
  height: 15vh;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 2rem;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  backdrop-filter: blur(6px);
  border: 2px solid var(--accent-color);
  border-radius: 24px;
}

.header-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-content img {
  width: 200px;
}

.header-menu {
  display: flex;
  gap: 1rem;
  color: var(--primary-text-color);
}

.color-mode-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--primary-text-color);
}

.download-button {
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}
