.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.grid-container {
  position: absolute;
  inset: 0;
  display: grid;
  z-index: -1;
  pointer-events: none;
}

.square {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  transition: background-color 0.2s ease;
}

.square.is-hovered {
  background-color: var(--secondary-bg-color);
}

.hero-content {
  color: white;
  pointer-events: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.hero-description {
  width: 60%;
}
.hero-description h1 {
  color: var(--primary-text-color);
}
.hero-description h1 span {
  display: block;
}
.hero-name {
  color: var(--accent-color);
}
.hero-description p {
  color: var(--secondary-text-color);
  margin-top: 1rem;
  width: 60%;
}

.animated-blob {
  width: 400px;
  height: 400px;
  overflow: hidden;
  animation: borderMorph 8s infinite ease-in-out;
  background-color: var(--accent-color);
}
.animated-blob img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes borderMorph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  25% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  50% {
    border-radius: 70% 30% 40% 60% / 60% 70% 30% 40%;
  }
  75% {
    border-radius: 40% 70% 60% 30% / 50% 40% 60% 70%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@media (max-width: 1400px) {
  .hero-content {
    gap: 48px;
  }
  .hero-description p {
    width: 100%;
  }
  .animated-blob {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .hero-content {
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: nowrap;
  }
  .hero-description p {
    width: 100%;
  }
  .animated-blob {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .hero-content {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .hero-description {
    width: 100%;
  }
  .hero-description p {
    width: 100%;
  }
  .animated-blob {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .hero-content {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .hero-description {
    width: 100%;
  }
  .hero-description p {
    width: 100%;
  }
  .animated-blob {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 360px) {
  .animated-blob {
    width: 200px;
    height: 200px;
  }
}
